# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file and bundle for alternative installation
vendor/
.bundle/


# Jekyll caches
.jekyll-cache/
.jekyll-metadata

# Logs & env
log/
*.log
.env

# Editor/OS cruft
.DS_Store
Thumbs.db
.idea/
.vscode/
